.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #e65b30;
    }

#footer1 {
    background: #3dd8d8;
}

#footer2 {
    background: #083535;
}
